*{
    box-sizing: border-box;
}

h1, h2{
    font-family: 'Beyond the mountains';

}
h1{
    font-size: 120px;
    text-align: left;
    text-shadow: 3px 3px 3px rgb(4, 4, 4);
color: #4dc1bf;
margin-left: 10px;
}
h2{
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    font-weight: 200;
    font-size: 40px;
    margin-left: 10px;
}
h3{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;

}
h4, h5{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;

}
a{
    text-decoration: none;
}
p, a, ul li{
    font-family: 'Lato', sans-serif;}
ul li a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
.fa-brands, .fa-regular{
    font-size: 25px;
    border-radius: 50px;
}
.filtro-curso-btn{
    border-radius: 50px;
    color: rgba(38, 138, 136);
    border:  solid 3px rgba(38, 138, 136);
    background-color: rgb(255, 255, 255);
    font-weight: 550;
    text-transform: uppercase;
    font-family: 'Josefin Sans';
    padding: 15px;
    margin: 10px 3px;
}
.filtro-curso-btn:hover{
    background-color: rgba(38, 138, 136);
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
.seccion{
    padding-left:  20px;
    padding-right:  20px;

    
}
.seccion:not(.por-que){
    padding-bottom: 30px;
}
.fa-brands:not(.fa-whatsapp, .fa-envelope){
    font-size: 30px;
    border-radius: 50px;
    background-color: #25716f;
    padding: 15px;
    color: rgb(247, 247, 248);
}
.fa-brands:not(.fa-whatsapp, .fa-envelope):hover{
    background-color: #DFA3EF;
    transition: 0.3s;
}

/*NAV CELULAR*/

.nav-computadora{
    display: none;
}
.nav-celular{
    width: 100%;
    height: 10vh;
    background-color: #33a7a5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    flex-wrap: nowrap;
    z-index: 2000;

}
.logo-nav{
    width: 70px;
    height: auto;
}
.abrir-menu{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
}
.offcanvas-body, .offcanvas-header{
    background-color: #33a7a5;
}
.offcanvas-body{
    text-align: center;
    justify-items: center;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    
}
.offcanvas-header button{
    background-color: transparent;
    border: none;
}
.offcanvas-header i{
    font-size: 30px;
    color: rgb(247, 247, 248);
}
.offcanvas-header i:hover{
    transition: 0.3s;
    color: #2c8b88;
}
.offcanvas-header img{
    width: 80px;
    height: auto;
}
.nav-link, .seguinos{
    font-size: 20px;
    font-family: 'Lato';
    color: white;
    padding-bottom: 15px;
}
.nav-link:hover{
    transition: 0.3s;
    color: #1b5a58;
}
.navbar-nav{
    justify-content: space-around;
}
.boton-hablemos{
    border: none;
    border-radius: 50px;
    padding: 15px;
    font-size: 20px;
    font-family: 'Lato';
    color: #1b5a58;
    font-weight: 600;
    background-color: #DFA3EF;
}
.boton-hablemos:hover{
    transition: 0.3s;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.20);
}
.redes-navbar{
    margin-bottom: 30px;
}
.seccion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.seccion p:not(.items-lista, .p-copywrite){
    font-size: 20px;
}

/*CUERPO */

.titulo-cursos{
    background-color: rgb(246, 252, 252);
    width: 100%;
    padding-top: 15vh;
    

}
.titulo-curso{
    /*text-transform: uppercase;*/
    font-weight: 400;
    font-size: 35px;
    padding: 25px;
    color: #ffffff;
    background-color: #33a7a5ba;
    text-align: center;
    margin: 0;
}
.cuerpo p{
    padding: 0 25px;
    color: rgb(100, 100, 100);
    text-align: center;

    display: none; /*VER ESTPOOOOOO*/
}
.boton-volver{
    padding: 15px;

}
.boton-volver a{
    font-family: 'Lato';
    text-decoration: none;
    text-transform: uppercase;
    color: #919191;
    font-size: 18px;
    align-items: left;
}
.boton-volver a i{
    padding-right: 7px;
}
.filtro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left:  20px;
    padding-right:  20px;
}
.botones-cursos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.div-curso{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    font-family: 'Lato';
    font-weight: 600;
    padding: 15px;
   background-color: rgb(255, 255, 255);
   border-radius: 8px;
    color: rgb(72, 72, 72);
    border: solid 1px  rgb(255, 255, 255);
    width: 320px;
    height: auto;
    margin-top: 20px;
    margin-right: 0;
    
}
.div-curso h2{
    text-shadow: none;
    font-weight: 500;
    margin: 10px;
}
.div-curso p, .div-curso ul li{
    font-weight: 400;
    margin: 10px;
    font-size: 20px;

}
.div-curso ul{
    padding-left: 0;
}

.div-tipo-curso{
    border-radius: 50px;
    background-color: transparent;
    padding: 10px 15px;
    line-height: 20px;
    font-weight: 500;
    border: solid 1.2px #813d93;
    color: #813d93;
}

.curso-presencial h2{
    color: #813d93;
}
.info-curso{
    width: 95%;
    height: auto;
    padding: 10px;
    margin-bottom: 30px;
    background-color: rgb(247, 247, 248);
    border-radius: 7px;

    background-image: linear-gradient(0deg, rgb(0 0 0 / 43%), rgba(0,0,0,0.65) ), url(imagenes/bsas.jpg);
    background-position: center;
    background-size: cover;
}
.info-curso img{
    width: 100%;
    height: 240px;
    object-fit: cover;

    /*VER ESTOOOOOOOOO*/
    display: none;
}
.descripcion-curso ul{
    padding-left: 0;
    justify-items: center;
}
.item-caracteristica{
    justify-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.item-caracteristica h4, .item-caracteristica i{
    color: hsl(299deg 77% 76%);
    text-align: center;
    margin: 5px;
    text-shadow: 4px 4px 7px rgb(10 10 10 / 60%);
    margin: 5px;

}
.item-caracteristica p{
    display: none;
}
.item-caracteristica i{
    font-size: 50px;
    align-self: center;
   /* background-color: #f1d6ff;*/
    border-radius: 50px;
    padding: 15px;
}
.local h5{
    text-transform: none;
    color:#71c436;
    font-weight: 500;
    font-size: 25px;
    border-bottom: solid 4px #71c436;
}
.local h6{
    color: rgb(100, 100, 50);
    font-size: 18px;
    font-weight: 700;
}



/*FOOTER*/
.contacto{
    background-color: #33a7a5;
    color: rgb(247, 247, 248);
    text-align: center;
    

}
.contacto h3, .cursos h3{
    padding-top: 20px;
    text-shadow: 3px 3px 3px #25716f;
}
.div-contacto{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: left;
    align-items: center;
}
.contacto a:not(.hechopor){
    color: rgb(247, 247, 248);
}
.fa-whatsapp, .fa-envelope-open, .fa-location-dot{
    margin-right: 10px;
}
iframe{
    width: max-content;
    height: auto;
}

.contacto img{
    width: 180px;
    height: auto;
}
.copywrite{
    padding-top: 40px;
    text-align: center;
    
}
.copywrite p, .hechopor{
    margin-bottom: 0;
    font-size: 15px;
    color: #25716f;
}

