*{
    list-style: none;
}
h1, h2{
    font-family: 'DM Serif Display', serif;
}
h2{
    font-weight: 700;
    font-size: 35px;
    padding: 15px 0;
}
h2:not(.title-stores, .store-title){
    color: rgb(0, 31, 63);

}
h6{
    font-size: 15px;
    color: rgb(192, 126, 82);
    font-weight: 700;
}
h3, h4, h5, h6, p, a{
    font-family: 'Poppins', sans-serif;

}
h4{
    font-size: 17px;
}
h6, button{
    text-transform: uppercase;
}
.main-title{
    font-size: 40px;
    color: rgb(250, 250, 250);
    text-align: center;
}
p:not(.product-description){
    font-size: 17px;
}

button{
    border: none;
    font-size: 15px;
    padding: 15px;
    margin: 10px 0;
    color: rgb(250, 250, 250);
    font-family: 'Poppins', sans-serif;

}
.button-go:hover{
    background-color: rgb(170, 110, 70);
    transition: 0.3s;
}
button:not(.button-bars){
    background-color: rgb(192, 126, 82);

}
.button-bars{
background-color: rgb(1, 50, 103);
}
.section{
    padding: 75px 35px;
}


/*MENU OPTIONS*/
.navbar, .container-fluid{
    background-color: rgb(0, 31, 63);
    display: flex;
    flex-direction: row;
    height: 10vh;
    top: 0;
    /*VER CONTAINER FLUID*/
    
}
.fa-xmark{
    color: rgb(250, 250, 250);
    font-size: 20px;
}

.offcanvas{
    background-color: rgb(0, 31, 63);
    color: rgb(250, 250, 250);

}
.offcanvas h2{
    color: rgb(250, 250, 250);
    font-weight: 500;

}
.nav-link{
    color: rgb(250, 250, 250);
    text-transform: uppercase;
}
.nav-link:hover{
    color: rgb(255, 251, 236);
    transition: 0.3s;
}
.follow-icons i{
    font-size: 20px;
    padding: 15px;
    border-radius: 50%;
    color: rgb(250, 250, 250);
    background-color: rgb(1, 50, 103);
    margin: 5px;
}
.follow-icons i:hover{
    background-color: rgb(192, 126, 82);
    transition: 0.3s;
}
.follow-icons{
    margin-top: 70px;
    text-align: center;
}

/*BODY OF THE PAGE*/
.welcome{
    background-image: url(imagenes/cafeteria1.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 0 45px;
    background-attachment: fixed;
}
.welcome-box{
    background-color: rgb(192, 126, 82, 0.75);
    color: rgb(250, 250, 250);

    align-self: center;
    top: 35%;
    position: relative;
    padding: 25px;
    height: auto;
    
}
.schedule-days{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 13px;
    width: min-content;
    padding-top: 5px;
}
.schedule-hour{
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'DM Serif Display', serif;

}
.schedule{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0;

}

/*ABOUT US*/
.aboutus-items{
    margin: 10px 10px;
    padding: 0;
}
.aboutus-items li{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: solid 1.05px rgb(230, 230, 230);
    padding: 10px;
}
.aboutus-items li p{
    margin: 0;
    padding-left: 15px;
    color: rgb(150, 150, 150)
}
.about-img{
    margin: 25px 0;
    height: auto;
    width: 100%;
}

/*STORES*/
.stores{
    background-color: rgb(0, 31, 63);
    color: rgb(255, 251, 235);
    padding: 75px 45px;
}

/*MENU PRODUCTS*/
.product-img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    margin: 25px 0 0 0;
}
.menu-offer{
    padding-left: 0;
}
.product-description{
    font-size: 15px;
    color: rgb(150, 150, 150);
}
.menu-products h2{
    margin: 20px 0;
}

/*DETAILS AND GALLERY*/
.details-gallery{
    background-color: rgb(192, 126, 82);
    color: #fffbec;
    
}
.details-list{
    padding-left: 0;
}
.details h5{
    text-transform: uppercase;
}
.detail img{
    margin: 15px 0;
}

.gallery{
    background-color: rgb(0, 31, 63);
    color: #fffbec;
    margin-top: 70px;
}
.gallery-box{
    padding: 40px;
    justify-content: center;
    text-align: center;

}
.gallery h2{
    color: #fffbec;
}
.gallery img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/*FOOTER*/
footer{
    background-color: rgb(240, 240, 240);
}
footer a:not(.icons-mention a){
    text-decoration: none;
    color: rgb(1, 50, 103);
}

.footer-box:not(.contact){
    margin: 45px 0;
}
.footer-box{
    text-align: center;

}
.ubication ul{
    padding-left: 0;
}
.follow-us i{
    font-size: 22px;
    border-radius: 70px;
    padding: 15px;
    background-color: rgb(192, 126, 82);
    color: #fffbec;
    margin: 15px;
}
.follow-us i:hover{
    background-color: rgb(1, 50, 103);
    transition: 0.3s;
}

.reserved-rights{
    color: rgb(150, 150, 150);
    text-align: center;
}

.icons-mention, .icons-mention a{
    font-size: 5px;
    color: rgb(230, 230, 230);
    text-align: center;
    text-decoration: none;
}
